<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/">Home</a>
    <u>
        <h1>Commodore Grace M. Hopper</h1>
    </u>
    <img src="/img/Commodore_Grace_M._Hopper,_USN_(covered)_head_and_shoulders_crop.jpg" alt="" height="350" width="300">
    <p>Una de las primeras programadoras de la computadora Harvard Mark I, fue una pionera de la programación de
        computadoras que inventó uno de los primeros enlaces. Hopper fue el primero en idear la teoría de los lenguajes
        de programación independientes de la máquina, y el lenguaje de programación FLOW-MATIC que creó usando esta
        teoría se amplió más tarde para crear COBOL,un lenguaje de programación de alto nivel temprano todavía en uso
        hoy en día.</p>
</body>

</html>