<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/babbage">Charles Babbage</a>
    <a href="/berners-lee">Berners-Lee</a>
    <a href="/lovelace">Ada Lovelace</a>
    <a href="/clarke">Edamun Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Commodore Grace M. Hopper</a>
    <a href="/turing">Alan Turing</a>
</body>
</html>